@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
    --primary: #FD2E17
  }
}

@layer base {
    
  @font-face {
    font-family: "balboa";
    src: url("/assets/fonts/balboa.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

}

body {
  background-color: black;
}

.each-fade {
  display: flex;
  width: 100%;
}

.each-fade > div {
  width: 100%;
}

.each-fade > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
